@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700);

body {
  margin: 0;
  padding: 0;
  background: #30D5C8;
	font-family: ubuntu;
}

header {
  <center>
  
  display: flex;
  background: white;
  align-items: center;
  background: #ffffff; 
  </center>
}

header img {
  width: 50px;
  background: white;
  border-radius: 5px;
  margin: 0 20px 0 40px;
}

article {
  background: white;
  border: 3px solid #000000;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

hr, article .date {
  color: #00008B;
}