@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  margin:    0 auto;
  max-width: 1000px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  color: #051742;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: A09267;
  font-weight: normal;
  text-transform: uppercase;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.logo {
  width: 50%;
}