@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

/*
html {
  margin:    0 auto;
  max-width: 600px;
}


*/

strong {
  color: #051742;
}

a {
  color: #a09267;
}

div.center {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.leaflet-marker-icon {
  border-radius: 10px;
}

h3 {
  text-align: center;
  padding-top: 10px;
}

h3.pink {
  color: #ac427b;
}

h3.turquoise {
  color: #347891;
}

h3.orange {
  color: #e07e2f;
}

h3.purple {
  color: #62226d;
}

h3.green {
  color: #34777a;
}

* {
  font-family: "Montserrat", sans-serif;
}

details {
}

details > summary {
  font-weight: bold;
  padding-top: 1em;
}

details > p {
}

details[open] > summary {
}

td {
  padding-right: 1em;
}

.mainmap {
  height: 50vh;
}

.modalmap {
  height: 40vh;
}
