<!doctype html>
<html lang="en">

<head>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="robots" content="noindex,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="refresh" content="300">

  <!-- favicon -->
  <link rel="shortcut icon" href="favicon.png">

  <!-- Title Tag -->
  <title>Harrow and the Hill Community Day</title>

  <!-- Import Special CSS -->
  <link rel="stylesheet" href="./index.css">

  <!-- Import Leaflet.js for map-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- Import vue-->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->

  <!-- Import Bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
  <main id="app">

    <img src="./assets/logo.png" width=100% height=auto class="py-2">
    <section>

      <h1 class="pink">Celebrating 450 years of community on the Hill</h1>
      <h1 class="turquoise">30 April Noon – 6pm</h1>

      <p>Residents and friends from around the Hill are invited to join in a day of celebration to mark the 450th
        anniversary of Harrow School. There’s something for everyone and new events are being added to all the time.
        This
        information will be updated regularly up until and including Saturday 30 April.</p>

      <p><strong>Last updated: FIX</strong></p>

      <h1 class="purple">Food Noon to 6pm</h1>

      <details v-for="event in events" v-if="event.classification == 'Food' ">
        <summary>{{event.title}}</summary>
        <span v-html="event.body"></span>
        <p>🕓 {{event.times}}</p>


        <p>📍 {{locations[event.location].title}}
          <button type="button" class="btn btn-danger btn-sm pl-2" data-bs-toggle="modal"
            :data-bs-locationid="event.location"
            :data-bs-target="'#locationModal'+event.location">{{locations[event.location].title}}</button>
        </p>

        <!-- Button trigger modal -->
      </details>

      <h1 class="orange">Events 2pm – 6pm</h1>

      <p>Tap each item for more information.</p>

      <details v-for="event in events" v-if="event.classification == 'Events' ">
        <summary>{{event.title}}</summary>
        <span v-html="event.body"></span>
        <p>🕓 {{event.times}}</p>


        <p>📍 {{locations[event.location].title}}
          <button type="button" class="btn btn-danger btn-sm pl-2" data-bs-toggle="modal"
            :data-bs-locationid="event.location"
            :data-bs-target="'#locationModal'+event.location">{{locations[event.location].title}}</button>
        </p>

        <!-- Button trigger modal -->
      </details>

      <h1 class="green">Road Closures</h1>
      <img src="./assets/road_closures.png">
      <p>Road closures will be in place on Saturday 30 April from 6am to 8pm.</p>

      <p>Residents will be issued, in advance, with a car pass to allow them to access the yellow and blue sections at
        any
        time during the 24-hour period.</p>

      <p>Traffic will be marshalled by Road Traffic Solutions Ltd.</p>

      <p>Alternative parking for this period will be available for residents of the High Street and the top half of West
        Street. Please contact Harrow School Security at <a
          href="mailto:security@harrowschool.org.uk">security@harrowschool.org.uk</a> or call 020 8872 8345 for more
        information.</p>

      <p>Public parking is available in the Queen’s House Car Park, Kymberley Road, London, HA1 1US (<a
          href="https://goo.gl/maps/keAqtqzrvP2NYrpA6">Google Maps</a>/<a
          href="https://maps.apple.com/?address=104%20College%20Road,%20Harrow,%20HA1%201BQ,%20England&auid=11423917619285009007&ll=51.580760,-0.339339">Apple
          Maps</a>) and a free shuttle bus from the car park to Davidson Lane will be in operation.</p>

      <p>There will be accessibility parking on London Road at the south end of the Hill.</p>

      <h1 class="pink">Other Information</h1>

      <p><strong>First Aid and Lost Children</strong></p>
      <p>St John’s ambulance will be working from the West St Meeting Room at the top of West St. This will also be the
        location to which lost children should be taken.</p>

      <p><strong>Security</strong></p>
      <p>Harrow School Security can be contacted via 0208 872 8345 and 07766 688597.</p>

      <h1 class="orange">Map</h1>

      <div id="mainMap" class="map"></div>

    </section>

    <!-- Modal -->
    <div v-for="(location, id) in locations" class="modal fade" :id="'locationModal'+id" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Locate {{location.title}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div :id="'mainMap'+id" class="map"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- Import Special JS -->
  <script src="./index.js"></script>

  <footer>
    &copy; Harrow School 2022
  </footer>
</body>

</html>