<!doctype html>
<html lang="en">

<head>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="robots" content="noindex,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="refresh" content="300">

  <!-- favicon -->
  <link rel="shortcut icon" href="favicon.png">

  <!-- Title Tag -->
  <title>Harrow and the Hill Community Day</title>

  <!-- Import Special CSS -->
  <link rel="stylesheet" href="./index.css">

  <!-- Import Leaflet.js for map-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Import vue-->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->

  <!-- Import Bootstrap 5 stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Link Glass Octopus stylesheet -->
  <link href="./libraries/glass-octopus/glassoct.css" rel="stylesheet">


</head>

<bodys>

  <div class="col-lg-5 mx-auto p-3 pt-md-5">
    <header class="d-flex align-items-center pb-3 mb-3">
      <img src="./assets/logo.png" width=100% height=auto class="py-2">
    </header>

    <main id="app">
      <section>

        <h3 class="pink"><b>Celebrating 450 years of community on the Hill</b></h3>
        <h3 class="turquoise">30 April Noon – 6pm</h3>

        <p class="text-center">Residents and friends from around the Hill are invited to join in a day of celebration to
          mark
          the 450th
          anniversary of Harrow School. There’s something for everyone and new events are being added to all the time.
          This
          information will be updated regularly up until and including Saturday 30 April.</p>

        <h3 class="purple">Food Noon to 6pm</h3>

        <details :id="'event'+event.id" v-for="event in events" v-if="event.classification == 'Food' ">
          <summary>{{event.title}}</summary>
          <span v-html="event.body"></span>

          <p>
            <button type="button" class="btn btn-secondary disabled btn-sm pl-2" data-bs-toggle="modal"
              :data-bs-locationid="event.location" :data-bs-target="'#locationModal'+event.location">
              🕓 {{event.times}}</button>
          </p>

          <p>
            <button type="button" class="btn btn-danger btn-sm pl-2" data-bs-toggle="modal"
              :data-bs-locationid="event.location" :data-bs-target="'#locationModal'+event.location">📍
              {{locations[event.location].title}}</button>
          </p>

          <!-- Button trigger modal -->
        </details>

        <h3 class="orange">Events 2pm – 6pm</h3>

        <p>Tap each item for more information.</p>

        <details v-for="event in events" v-if="event.classification == 'Event' ">
          <summary>{{event.title}}</summary>
          <span v-html="event.body"></span>
          <p>
            <button type="button" class="btn btn-secondary disabled btn-sm pl-2" data-bs-toggle="modal"
              :data-bs-locationid="event.location" :data-bs-target="'#locationModal'+event.location">
              🕓 {{event.times}}</button>
          </p>

          <p>
            <button type="button" class="btn btn-danger btn-sm pl-2" data-bs-toggle="modal"
              :data-bs-locationid="event.location" :data-bs-target="'#locationModal'+event.location">📍
              {{locations[event.location].title}}</button>
          </p>

          <!-- Button trigger modal -->
        </details>

        <h3 class="green">Road Closures</h3>
        <img src="./assets/road_closures.png">
        <p>Road closures will be in place on Saturday 30 April from 6am to 8pm.</p>

        <p>Residents will be issued, in advance, with a car pass to allow them to access the yellow and blue sections at
          any time during the 24-hour period.</p>

        <p>Traffic will be marshalled by Road Traffic Solutions Ltd.</p>

        <p>Alternative parking for this period will be available for residents of the High Street and the top half of
          West
          Street. Please contact Harrow School Security at <a
            href="mailto:security@harrowschool.org.uk">security@harrowschool.org.uk</a> or call 020 8872 8345 for more
          information.</p>

        <p>Public parking is available in the Queen’s House Car Park, Kymberley Road, London, HA1 1US (<a
            href="https://goo.gl/maps/keAqtqzrvP2NYrpA6">Google Maps</a>/<a
            href="https://maps.apple.com/?address=104%20College%20Road,%20Harrow,%20HA1%201BQ,%20England&auid=11423917619285009007&ll=51.580760,-0.339339">Apple
            Maps</a>) and a free shuttle bus from the car park to Davidson Lane will be in operation.</p>

        <p>There will be accessibility parking on London Road at the south end of the Hill.</p>

        <h3 class="pink">Other Information</h3>

        <p><strong>First Aid and Lost Children</strong><br />
          St John’s ambulance will be working from the West St Meeting Room at the top of West St. This will also be the
          location to which lost children should be taken.</p>

        <p><strong>Security</strong><br />
          Harrow School Security can be contacted via 0208 872 8345 and 07766 688597.</p>

        <p><strong>Picnic Places</strong><br />
          You are welcome to picnic in the gardens below the Chapel Terrace, on the Roof Terrace and on The Green by the
          Band Stand.</p>

        <p><strong>Toilets</strong><br />
          Porta Loos can be found in Grove Hill and Harrow Park.</p>


        <h3 class="orange">Map</h3>

        <div id="mainMap" class="mainmap"></div>

        <div class="py-3 row justify-content-between">

          <div class="col">
            <span>Last Updated <strong v-if="state.latestcommit">
                {{dateformat(state.latestcommit.commit.committer.date)}}</strong></span>
          </div>

          <div class="col">
            <button class="btn btn-secondary btn-small float-end" type="button" data-bs-toggle="collapse"
              data-bs-target="#changesBox" aria-expanded="false" aria-controls="changesBox">
              Read changes
            </button>
          </div>
        </div>

        <div class="collapse" id="changesBox">
          <div class="card card-body">
            <div v-if="!state.latestcommit">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div v-if="state.latestcommit">
              <h6>Latest Commit</h6>
              <table class="table">
                <tbody>

                  <tr>
                    <th scope="row">Committer</th>
                    <td>{{state.latestcommit.commit.author.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date</th>
                    <td>{{dateformat(state.latestcommit.commit.committer.date)}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Details</th>
                    <td>{{state.latestcommit.commit.message}}</td>
                  </tr>

                </tbody>
              </table>

              <a type="button" role="button" :href="state.latestcommit.parents[0].html_url"
                class="btn btn-outline-info">View on Github</a>

            </div>

          </div>
        </div>

      </section>


      <!-- Modal -->
      <div v-for="(location, id) in locations" class="modal fade" :id="'locationModal'+id" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Locate {{location.title}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div :id="'mainMap'+id" class="modalmap"></div>
              <hr>
              <div :id="'inject'+id"></div>
              <hr>

              <h3>On at {{location.title}}</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Time</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr div v-for="event in events" v-if="event.location==id">
                    <td>{{event.title}}</td>
                    <td>{{event.times}}</td>
                    <td><a :href="'#event'+event.id">Read more</a></td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </main>



    <footer class="pt-5 my-5 text-muted border-top">
      &copy; Harrow School 2022
    </footer>
  </div>

  <!-- Import Glassoct js-->
  <script src="./libraries/glass-octopus/glassoct.js"></script>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- import bootstrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Import Axios js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Custom Vue stuffs-->
  <script src="./index.js"></script>


  </body>

</html>