body{
	font-size: 18px;
	font-family: 'Helvetica', sans-serif;
	color: #333;
  font-weight: 200;
  text-align: center;
  background-color: lightgoldenrodyellow;
}
.question{
	font-weight: 600;
}
.answers {
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
}
.answers label{
  display: block;
}
button {
  font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	background-color: rgba(130, 94, 5, 1);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 8px;
  margin-top: 3px;
}
button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
backbutton {
  font-family: 'Helvetica', sans-serif;
	font-size: 12px;
	background-color: lightgoldenrodyellow;
	color: #fff;
	border: 2px solid rgba(130, 94, 5, 1);
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
  float: left;
}
backbutton:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

// The CSS is created by me although I got the box shadow code from w3schools.