<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="refresh" content="300">
    <title>Harrow 450 Community Day</title>
    <link rel="stylesheet" href="/450/450.css">
    <script type="text/javascript">
      function setAccessedDate() {
        if (document.getElementById('accessed-on')) {
          var now = new Date();
          var formattedDate = now.toLocaleTimeString("en-GB", {hour12: false, hour: "numeric", minute: "numeric", seconds: "numeric"});
          document.getElementById('accessed-on').textContent = "Last reloaded: " + formattedDate;
        }
      }
      
      function setModifiedDate() {
        if (document.getElementById('last-modified')) {
          fetch("https://api.github.com/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits?path={{ page.path }}")
            .then((response) => {
							console.log(response)
              return response.json();
            })
            .then((commits) => {
              var modified = commits[0]['commit']['committer']['date'];
							console.log(modified)
							var date = new Date(modified);
							console.log(date)
							var formattedDate = date.toLocaleDateString("en-GB", {weekday: "short", year: "numeric", month:"short", day:"2-digit"});
							console.log(formattedDate)
              var formattedTime = date.toLocaleTimeString("en-GB", {hour12: false, hour: "numeric", minute: "numeric", seconds: "numeric"});
							console.log(formattedTime)
              document.getElementById('last-modified').textContent = "Last modified: " + formattedDate + ", " + formattedTime;
							console.log(formattedDate + ", " + formattedTime)
            });
        }
      }
    </script>
  </head>
  <body onload="setModifiedDate(); setAccessedDate();">
    <img src="/450/logo.jpeg" width=128 height=auto>
    <nav>
      <!-- Disable nav for now
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      -->
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; Harrow School 2022
    </footer>
  </body>
</html>