<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="refresh" content="300">
    <title>Harrow 450 Community Day</title>
    <link rel="stylesheet" href="/450/450.css">
  </head>
  <body>
    <img src="/450/logo.jpg" width=128 height=auto>
    <nav>
      <!-- Disable nav for now
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      -->
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; Harrow School 2022
    </footer>
  </body>
</html>