<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name='robots' content='noindex,follow' />
    <title>{{ page.title }}</title>
    <!-- Disable CSS for now
    <link rel="stylesheet" href="/css/style.css">
    -->
  </head>
  <body>
    <nav>
      <!-- Disable nav for now
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      -->
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; Harrow School
    </footer>
  </body>
</html>