* {
	font-family: Arial, sans-serif;
	-webkit-text-size-adjust: none;
    text-size-adjust: none;
	max-width: 100%;
}

p {
	max-width:100%;
}

p.redpara {
	font-weight:bold;color:red;
}

.hidden {
	display:none;
}

.result {
	color:red;
}

.logo {
	width: 300px;
}

#index > ul {
	list-style-image: url('../img/bullet.png');
}

#index > ul li { padding: 10px 0px; }

#header {
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	background-position: 20px 20px;
	background-size: 150px;
	height: 80px;
	padding-top:20px;
	padding-bottom:20px;
}

#header span {
	position:relative; 
	top:100px;
}

#header span a {
  /* background: #f2dae3; */
  background-color: #e9d8a6;
  border-radius: 6px;
  padding: 5px;
  font-color: white;
}

#report {
	font-weight: bold;
}

ul.progress {
  list-style-image: url('../img/tick.png');
}

ul.success {
  list-style-image: url('../img/tick.png');
}

table#report {
	border: 1px solid #001219;
	border-collapse: collapse;
}

table#report td, th {
	border: 1px solid #001219;	
	padding: 3px;
}

table#report th {
	background-color: #E2F0D9;
}

#main a {
  /* background: #E2F0D9; */
  background-color: #94d2bd;
  border-radius: 6px;
  padding: 2px;
}

h1 {
  border-bottom: 5px solid #FBE5D6;
  width: fit-content;
  max-width: 100%;
}

a.nextPageLink {
	display: none;
}

h3 {
	background-color: #001219;
	color: white;
	padding: 5px;
	clear: both;
	max-width: 100%;
}

button {
  background-color: #0a9396;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 20px;  
  cursor: pointer;
}

textarea { 
   width: 100%!important;
   max-width: 100%;
   font-family:Consolas,Courier New,monospace;  
}

footer {
	padding-top:20px;
}

.inpbox {
	width:100%;
}

.sidebar {
  height: 92%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  background-color: #001219;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 4px 4px 4px 12px;
  text-decoration: none;
  color: #c1c1c1;
  display: block;
  transition: 0.3s;
  font-size: 0.8em;
}

.sidebar .hidden {
	display:none;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2em;
  margin-left: 50px;
}

.openbtn {
  font-size: 1em;
  cursor: pointer;
  background-color: #001219;
  color: white;
  padding: 10px 15px;
  border: none;
  float: right;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#sortableTrash ul li, #sortable ul li {
	font-family:Consolas,Courier New,monospace;  
}

#sortableTrash p, #sortable p {
	font-style: italic;
}

.exampleCode {
	font-family:Consolas,Courier New,monospace; 
}

/* On smaller screens */

#seeMenu {display:none;}
#startNav {display:none;}

@media screen and (max-width: 600px) {
  .sidebar {position:static!important;width:100%!important;}
  #main {margin-left:0px!important;padding: 0px!important;margin-right:10px!important;}
  .openbtn {display:none!important;}
  #seeMenu {display:inline-block!important;}
  #startNav {display:inline-block!important;height:1px!important;}
}

/*
.page {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
}

.main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}
*/
