* {
	font-family: Arial, sans-serif;
	-webkit-text-size-adjust: none;
    text-size-adjust: none;
	max-width: 100%;
}

p {
	max-width:100%;
}

p.redpara {
	font-weight:bold;color:red;
}

.hidden {
	display:none;
}

.result {
	color:red;
}

#index > ul {
	list-style-image: url('../img/bullet.png');
}

#index > ul li { padding: 10px 0px; }

ul.progress {
  list-style-image: url('../img/tick.png');
}

ul.success {
  list-style-image: url('../img/tick.png');
}

#main a {
  /* background: #E2F0D9; */
  background-color: #000000;
  color:#ffffff;
  border-radius: 6px;
  padding: 2px;
}

h1.pageTitle {
  border-bottom: 5px solid #FBE5D6;
  width: fit-content;
  max-width: 100%;
  font-size: 2em;
  margin-top:10px;
}

a.nextPageLink {
	display: none;
}

h3 {
	background-color: #001219;
	color: white;
	padding: 5px;
	clear: both;
	max-width: 100%;
}

button {
  background-color: #0a9396;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 20px;  
  cursor: pointer;
}

textarea { 
   width: 100%!important;
   max-width: 100%;
   font-family:Consolas,Courier New,monospace;  
}

footer {
	padding-top:20px;
}

.inpbox {
	width:100%;
}

.openbtn {
  font-size: 1em;
  cursor: pointer;
  background-color: #001219;
  color: white;
  padding: 10px 15px;
  border: none;
  float: right;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  padding: 16px;
}

#sortableTrash ul li, #sortable ul li {
	font-family:Consolas,Courier New,monospace;  
}

#sortableTrash p, #sortable p {
	font-style: italic;
}

.exampleCode {
	font-family:Consolas,Courier New,monospace; 
}

/* On smaller screens */

#seeMenu {display:none;}
#startNav {display:none;}

@media screen and (max-width: 600px) {
  .sidebar {position:static!important;width:100%!important;}
  #main {margin-left:0px!important;padding: 0px!important;margin-right:10px!important;}
  .openbtn {display:none!important;}
  #seeMenu {display:inline-block!important;}
  #startNav {display:inline-block!important;height:1px!important;}
}

