#index > ul {
	list-style-image: url('../img/bullet.png');
}

#index > ul li { padding: 10px 0px; }

#logo {
	float: left;
	width: 100px;
	padding: 5px;
}

#main .site {
	padding-left: 16px;
}

#main .site a {
  /* background: #E2F0D9; */
  background-color: #94d2bd;
  padding: 20px;
  color: white;
}

footer {
	padding-top:10px;
	padding-left: 16px;
}

